@tailwind base;
@tailwind components;
@tailwind utilities;


/* Ẩn mũi tên trên Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Ẩn mũi tên trên Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


